// Specific CSS for your home-page

.background-image {
  background-image: url(https://images.unsplash.com/photo-1465060810938-30bbe7c40e76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2015&q=80);
  background-size: cover;
  height: 60vh;
}
