<div class="footer">

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="list-footer">
      <a href="#">Produtos</a>
      <a href="#">Políticas de Privacidade</a>
    </div>

    <div class="list-footer">
      <a href="#">Sobre</a>
      <a href="#">Fale Conosco</a>
    </div>

    <div class="list-copyright">
      © 2019 Festoo.Todos os Direitos Reservados.
    </div>
  </div>
</div>
