.conteudo {
  padding-top: 200px;
}

.productView-title {
    color: black;
    font-size: 2.25rem;
    font-weight: 500;
    opacity: 0.5;
    margin-top: 0px;
}

.productView-reservar {
    color: orange;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;
    margin-top: 25px;
    opacity: 1;
}

.photoclass {
  border-radius: 10px;
  margin-top: 10px;
}


.color-form {
  background-color: gray;
}

.content-box-color {
  background-color: #eeeeee;
  border-radius: 10px;
}

.title-maior {
  color: orange;
  opacity: 1;
  font-size: 3.25rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.form-ajustes {
  margin-bottom: 30px;
}
