


  .Footer_1 {
    position: relative;
    width: 1440px;
    height: 200px;
    left: 0px;
    bottom: 0px;
    // position: fixed;
    overflow: visible;
  }
  .Base_A0_Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 0px;
  }
  #CONTATO_A0_Text_4 {
    position: absolute;
    left: 50px;
    top: 50px;
    overflow: visible;
    width: 48px;
    white-space: nowrap;
    line-height: 12px;
    margin-top: -1px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }
  #contato {
    position: absolute;
    left: 160px;
    top: 50px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }
  #SERVICOS {
    position: absolute;
    left: 360px;
    top: 50px;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    line-height: 12px;
    margin-top: -1px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }
  #Contato_Pedidos_Pagamentos {
    position: absolute;
    left: 500px;
    top: 50px;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -5px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
  }
  #social_A0_Group_4 {
    position: absolute;
    width: 84px;
    height: 16.001px;
    left: 1310px;
    top: 49.999px;
    overflow: visible;
  }
  #FB_Footer {
    position: absolute;
    width: 16px;
    height: 16.001px;
    left: 68px;
    top: 0px;
    overflow: visible;
  }
  .Rectangle_392_A0_Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
  }
  .Path_1_A0_Path_11 {
    overflow: visible;
    position: absolute;
    width: 8.356px;
    height: 16px;
    left: 4px;
    top: 0.001px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Twiter_Footer {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 36px;
    top: 0.001px;
    overflow: visible;
  }
  .Rectangle_393_A0_Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
  }
  .Path_2_A0_Path_12 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 12.978px;
    left: 0px;
    top: 1.999px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Instagram_Footer {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0.001px;
    overflow: visible;
  }
  .Path_3_A0_Path_13 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
  }
